Repository AY2324S1-CS2103T-W10-3/tp, pull requests merged in 2023-11, with the labels that each got.

#144 critical bug fix: Updated sample data for dentist specialization
  src/main/java/seedu/address/model/util/SampleDataUtil.java
Labels: bug

#145 Update user guide based on latest features and ensure consistency
  docs/UserGuide.md
Labels: type.Docs

#146 Fix formatting issue
  docs/UserGuide.md
Labels: type.Docs

#149 Abstract out Storage commands for QuickNotes into separate class
  src/main/java/seedu/address/storage/QuickNotesStorage.java
  src/main/java/seedu/address/ui/QuickNotes.java
  src/test/java/seedu/address/storage/QuickNotesStorageTest.java
Labels: enhancement

#152 Add user guide updates
  docs/UserGuide.md
Labels: type.Docs

#155 Bug Fixes
  src/main/java/seedu/address/logic/parser/EditDentistCommandParser.java
  src/main/java/seedu/address/model/person/dentist/Dentist.java
  src/main/java/seedu/address/ui/PatientCard.java
  src/main/resources/view/DentistListCard.fxml
  src/main/resources/view/PatientListCard.fxml
Labels: bug

#156 User Guide Standardization (3 Nov 2023)
  docs/UserGuide.md
Labels: type.Docs

#153 Update UG and Website
  docs/DeveloperGuide.md
  docs/Gemfile
  docs/Gemfile.lock
  docs/UserGuide.md
  docs/_config.yml
  docs/_includes/page-break.html
  docs/_includes/toc.html
  docs/_includes/toc.md
  docs/_layouts/default.html
  docs/_sass/minima/_base.scss
  docs/_sass/minima/_layout.scss
  docs/_sass/toc.scss
  docs/_sass/toothtracker.scss
  docs/assets/css/style.scss
  docs/images/DeleteDentistSequenceDiagram.png
  docs/images/DeletePatientSequenceDiagram.png
  docs/images/HelpWindow.png
  docs/images/UiAnnotated.png
  docs/images/helpMessage.png
  src/main/java/seedu/address/ui/UiManager.java
  src/main/resources/images/ToothTracker.png
  src/main/resources/view/MainWindow.fxml
  src/test/data/testQuickNotes.txt
  src/test/java/seedu/address/commons/util/AppUtilTest.java
Labels: type.Docs, enhancement

#158 Add screenshots to UG
  docs/UserGuide.md
  docs/_config.yml
  docs/_includes/head.html
  docs/_sass/toothtracker.scss
  docs/images/ToothTracker.png
  docs/images/Ui.png
  docs/images/ug/CalendarWindow.png
  docs/images/ug/HelpWindow.png
  docs/images/ug/ViewCalendarExample.png
  docs/images/ug/appointment/AddAppointmentExample.png
  docs/images/ug/appointment/DeleteAppointmentExample.png
  docs/images/ug/appointment/FilterAppointmentDentistExample.png
  docs/images/ug/appointment/FilterAppointmentPatientExample.png
  docs/images/ug/appointment/ListAppointmentExample.png
  docs/images/ug/dentist/AddDentistExample1.png
  docs/images/ug/dentist/AddDentistExample2.png
  docs/images/ug/dentist/AddDentistExample3.png
  docs/images/ug/dentist/DeleteDentistExample1.png
  docs/images/ug/dentist/EditDentistExample1.png
  docs/images/ug/dentist/EditDentistExample2.png
  docs/images/ug/dentist/FilterDentistExample1.png
  docs/images/ug/dentist/FilterDentistExample2.png
  docs/images/ug/dentist/ListDentistExample.png
  docs/images/ug/dentist/SearchDentistIdExample1.png
  docs/images/ug/dentist/SearchDentistKeywordExample1.png
  docs/images/ug/patient/AddPatientExample1.png
  docs/images/ug/patient/AddPatientExample2.png
  docs/images/ug/patient/DeletePatientExample1.png
  docs/images/ug/patient/DeletePatientExample2.png
  docs/images/ug/patient/EditPatientExample1.png
  docs/images/ug/patient/EditPatientExample2.png
  docs/images/ug/patient/FilterPatientExample1.png
  docs/images/ug/patient/FilterPatientExample2.png
  docs/images/ug/patient/ListPatientExample.png
  docs/images/ug/patient/SearchPatientIdExample1.png
  docs/images/ug/patient/SearchPatientKeywordExample1.png
  docs/images/ug/treatment/AddTreatmentExample.png
  docs/images/ug/treatment/DeleteTreatmentExample.png
  docs/images/ug/treatment/ListTreatmentExample.png
Labels: type.Docs

#220 Update Manual Testing Section in DG
  docs/DevOps.md
  docs/DeveloperGuide.md
  docs/SettingUp.md
  docs/Testing.md
Labels: type.Docs

#218 Bug Fix on invalid patient birthday values
  src/main/java/seedu/address/model/person/Birthdate.java
Labels: PED.MustFix

#223 Update PPP
  docs/team/ruth-lim.md
Labels: type.Docs

#237 Update Acknowledgements for UG and DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.Docs

#240 Update PDF settings for UG and DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_includes/quickstart.md
  docs/_sass/pdf.scss
  docs/_sass/toothtracker.scss
  docs/assets/css/style.scss
  docs/images/ug/CalendarWindowAnnotated.png
  docs/images/ug/add-dentist-example.png
  docs/images/ug/add-patient-example.png
  docs/images/ug/appointment/AddAppointmentExample.png
  docs/images/ug/appointment/DeleteAppointmentExample.png
  docs/images/ug/appointment/FilterAppointmentDentistExample.png
  docs/images/ug/appointment/FilterAppointmentPatientExample.png
  docs/images/ug/appointment/ListAppointmentExample.png
  docs/images/ug/delete-dentist-example.png
  docs/images/ug/dentist/AddDentistExample1.png
  docs/images/ug/dentist/AddDentistExample2.png
  docs/images/ug/dentist/AddDentistExample3.png
  docs/images/ug/dentist/DeleteDentistExample1.png
  docs/images/ug/dentist/EditDentistExample1.png
  docs/images/ug/dentist/EditDentistExample2.png
  docs/images/ug/dentist/FilterDentistExample1.png
  docs/images/ug/dentist/FilterDentistExample2.png
  docs/images/ug/dentist/ListDentistExample.png
  docs/images/ug/dentist/SearchDentistIdExample.png
  docs/images/ug/dentist/SearchDentistIdExample1.png
  docs/images/ug/dentist/SearchDentistKeywordExample.png
  docs/images/ug/dentist/SearchDentistKeywordExample1.png
  docs/images/ug/edit-patient-example.png
  docs/images/ug/patient/AddPatientExample1.png
  docs/images/ug/patient/AddPatientExample2.png
  docs/images/ug/patient/DeletePatientExample1.png
  docs/images/ug/patient/DeletePatientExample2.png
  docs/images/ug/patient/EditPatientExample1.png
  docs/images/ug/patient/EditPatientExample2.png
  docs/images/ug/patient/FilterPatientExample1.png
  docs/images/ug/patient/FilterPatientExample2.png
  docs/images/ug/patient/ListPatientExample.png
  docs/images/ug/patient/SearchPatientIdExample1.png
  docs/images/ug/patient/SearchPatientKeywordExample1.png
  docs/images/ug/treatment/AddTreatmentExample.png
  docs/images/ug/treatment/DeleteTreatmentExample.png
  docs/images/ug/treatment/ListTreatmentExample.png
  docs/team/freddychenyouren2.md
  docs/team/synapseprogramming.md
  docs/team/techjay-c.md
Labels: type.Docs

#241 Update PPP
  docs/team/ruth-lim.md
Labels: type.Docs
